.header{
    display: flex;
 background-color: rebeccapurple;
 padding: 1em;
}
.navegation{
display: block;

font-style: italic;
 font-size:larger;
 width: inherit;
 height: inherit;
}
.welcome{
    display: flex;
    font-family:  Helvetica;
    font-size: larger;
}

.images{
    display: block;
    padding: auto;
}